body {
    margin: 0;
    background-color: #1B244A; 
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
}

.box1, .box2{
    width: 155px;
    text-align: center;
    border-radius: 5px;
    
}
.black{
    position: absolute;
    width: 155px;
    height: 120px;
    background-color: black;
}
span{
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
}
.buttons{
    width: 155px;
    height: 45px;
    margin-top: 150px; 
}
button{
    width: 45px;
height: 45px;
border: 2px solid #9AABD8;
color: #9AABD8;
border-radius: 5px;
 background-color: #1B244A; 
}

.btnReset{
    display: flex;
    justify-content: center;
}

.reset{
    width: 250px;
    background-color: #1B244A;
    margin-top: 50px; 
    text-align: center;
}